@import url('https://fonts.googleapis.com/css2?family=Audiowide:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Audiowide", sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-calculadora: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 15px;
}

.container {
  display: flex;
  width: 100%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #32b9cd;
}

.header .container {
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #32b9cd;
}

.botaohome {
  font-weight: 800;
}



.navbar {
  width: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  color: #32b9cd;
  margin-right: 500px;
  margin-left: 450px;
}



.a1 {
  transition: all 1s ease;
  padding: 50px;
}

.a1:hover {
  color: #07424b;
  transform: scale(1.2);
}

.a2 {
  transition: all 1s ease;
  padding: 50px;
}

.a2:hover {
  color: #07424b;
  transform: scale(1.2);
}


.a3 {
  transition: all 1s ease;
  padding: 50px;
}

.a3:hover {
  color: #07424b;
  transform: scale(1.2);
}

.a4 {
  transition: all 1s ease;
  padding: 50px;
}

.a4:hover {
  color: #07424b;
  transform: scale(1.2);
}

.a5 {
  transition: all 1s ease;
  padding: 30px;
}

.a5:hover {
  color: #07424b;
  transform: scale(1.2);
}

.imagemnavbar {
  display: flex;
  width: 200px;
  height: auto;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: black;
  background-image: url('../assets/imgs/insulina.png');
  background-size: center;

}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.banner .container span {
  font-weight: 800;
}

/* APRESENTAÇÃO DO SITE*/

.social {
  background-color: black;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  display: flex;
  justify-content: center;
  width: 500px;
  padding: 30px 0;
  margin-left: 100px;
}



.social .container .boxes {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
}

.social p {
  text-align: left;
  width: 90%;
  font-size: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.text {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-end;
}

.buttondev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100px;
  margin-right: 2%;
  margin-left: 10%;

}

.buttons {
  width: 38%;
  height: 50%;

  border: none;
  border-radius: 8px;
  justify-content: flex-start;

  background-color: #32b9cd;
  color: white;
  font-family: "Audiowide", sans-serif;
  font-size: 100%;
  cursor: pointer;
  transition: all 1s ease;
}

.buttons:hover {
  background-color: #07424b;
  transform: scale(1.2);
}


/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 100px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/insulina.png');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: black;
  border-radius: 10px;
  border: 5px solid #32b9cd ;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #32b9cd;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Audiowide", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #32b9cd;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* Desenvolvedor */
.socialdev {
  background-color: black;
  display: flex;
}

.socialdev .containerdev {
  justify-content: flex-end;
}

.boxdev img {
  display: flex;
  justify-content: center;
  width: 500px;
  padding: 30px 0;
}


.socialdev .containerdev .boxesdev {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px 0;
}

.socialdev p {
  text-align: left;
  width: 50%;
  font-size: 20px;
}

.boxdev {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.textdev {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  margin-left: 30px;
}

/* Calculdora de insulina */
.calculos {
  height: var(--tamanho-calculadora);
  background-image: url('../assets/imgs/insulina.png');
  background-size: cover;
}
.botaocalculo {
  cursor: pointer;
  font-family: "Audiowide", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #32b9cd;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}
.calculos .container {
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 100%;
}

.formulariocalc {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}
.campocalc {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}





/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}